<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <a href="{% url 'rating5'%}"><p>ToDos with rating above 5</p></a>
    <a href="{% url 'todo_below_5'%}"><p>ToDos with rating below 5</p></a>
    <h1>Home Page</h1>
    <h5>All todos :</h5>
    {% for todo in todos %}
        <a href="{% url 'detail' todo.id %}"><p>{{todo.title}}</p></a>
    {% endfor%}
</body>
</html>